.divi{
    color: rgb(82, 83, 65);
    
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    display: flex;
    align-items: center;
}


footer {
    background-color: #2b7c2b36; 
    color: rgb(27, 71, 37);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer nav a {
    color: #757574; 
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
}

footer nav a:hover {
    text-decoration: underline;
}
.Imagem,.Imagem2,.Imagem3{
    border-radius: 2cap;
}

hr {
    border: none;
    height: 3px;
    background-color: rgb(247, 243, 195);

}
fieldset{
    border-radius: 1cap;
    width: 1200px;
    border: 2px solid rgb(195, 224, 176);
    padding: 30px;
    margin-left: 330px;
    background-color: rgba(240, 240, 240, 0.37);
    box-shadow: 10px 10px 20px rgba(235, 235, 235, 0.5);
}
h1,h3{
    color: #2d3f91;
    font-family: 'Poppins', sans-serif;
}

.texto{
    text-align: center;
    font-size: 230%;
}
.texto2{
    text-align: center;
    margin-bottom: 5cap;
}

p,ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h6{
    color: #757574;
    font-family: 'Poppins', sans-serif;
    margin-left: 34cap;
    font-size: 60%;
}

.Imagem2 {
    border-radius: 1cap;
}

h3,b,strong{
    color: #4e59929c;
}
iframe{
    border-radius: 1cap;
   
}

label{
    color: rgb(110, 109, 107);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




input{

    border: 2px solid  rgb(195, 224, 176);

    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
   
}

#comentario{
    background-color: #ffffff;
    border-radius: 1cap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid rgb(195, 224, 176);
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button{
    color:rgb(143, 172, 125); 
    background-color:rgb(195, 224, 176); 
    padding:10px;
    border: none;
    border-radius:1ch
}

